<% if signed_in? && @meetup.users.find_by(username: current_user.username) == nil %>
  <form action="/meetups/<%= @id %>" method="post">
    <input value="Join!" name="join" type="submit">
  </form>
<% elsif signed_in? && @meetup.users.find_by(username: current_user.username) != nil %>
  <form action="/meetups/<%= @id %>" method="post">
    <input value="Leave!" name="leave" type="submit">
  </form>
<% end %>

<br/>
Name: <%= @meetup.name %>
<br/><br/>

Location: <%= @meetup.location %>
<br/><br/>

Description: <%= @meetup.description %>
<br/><br/>

Members:
<ul>
  <% @meetup.users.each do |member| %>
    <li> <img height="40" width="40" src="<%= member.avatar_url %>"/> <%= member.username %> </li>
  <% end %>
</ul>

<br/><br/>

<% if signed_in? && @meetup.users.find_by(username: current_user.username) != nil %>
  Leave a Comment:
  <form action="/meetups/<%= @id %>/comment" method="post">
    Title: <input name="comment_title" type="text"><br/>
    Body: <textarea name="comment_body"></textarea><br/>
    <input type="submit">
  </form>
<% end %>

<br/><br/>

<ul>
  <% @comments.each do |comment| %>
    </li>Title: <%= comment.title %>
    <br/>
    <%= comment.body %>
    <br/>
    <%= comment.created_at %></li>
    <br/>
    <br/>
  <% end %>
</ul>
