<div class="right">
  <% if signed_in? && @meetup.users.find_by(username: current_user.username) == nil %>
    <form action="/meetups/<%= @id %>" method="post">
      <input value="Join!" name="join" type="submit">
    </form>
  <% elsif signed_in? && @meetup.users.find_by(username: current_user.username) != nil %>
    <form action="/meetups/<%= @id %>" method="post">
      <input value="Leave!" name="leave" type="submit">
    </form>
  <% end %>
</div>

<br/>
<span class="teal">Name:</span> <%= @meetup.name %>
<br/><br/>

<span class="teal">Location:</span> <%= @meetup.location %>
<br/><br/>

<span class="teal">Description:</span> <%= @meetup.description %>
<br/><br/>

<span class="teal">Members:</span>
<ul>
  <% @meetup.users.each do |member| %>
    <li>
      <img height="60" width="60" src="<%= member.avatar_url %>"/>
      <%= member.username %>
    </li>
  <% end %>
</ul>

<% if signed_in? && @meetup.users.find_by(username: current_user.username) != nil %>
  <br/>
  <span class="teal">Leave a Comment:</span>
  <br/><br/>
  <form class="indent" action="/meetups/<%= @id %>/comment" method="post">
    <input name="comment_title" type="text" size="20" value="title"
    onfocus="if (this.value=='title') this.value='';">
    <input name="comment_body" rows="1" cols="22" value="comment"
    onfocus="if (this.value=='comment') this.value='';">
    <input type="submit">
  </form>
<% end %>

<ul>
  <% @comments.each do |comment| %>
    </li>
      <%= comment.title %> -
      <span class="teal"><%= comment.body %></span> -
      <%= comment.created_at.strftime("at %I:%M%p") %>
    </li>
    <br/>
    <br/>
  <% end %>
</ul>
