<% if signed_in? && @meetup.users.find_by(username: current_user.username) == nil %>
  <form action="/meetups/<%= @id %>" method="post">
    <input value="Join!" name="join" type="submit">
  </form>
<% elsif signed_in? && @meetup.users.find_by(username: current_user.username) != nil %>
  <form action="/meetups/<%= @id %>" method="post">
    <input value="Leave!" name="leave" type="submit">
  </form>
<% end %>

<br/>
Name: <%= @meetup.name %>
<br/><br/>

Location: <%= @meetup.location %>
<br/><br/>

Description: <%= @meetup.description %>
<br/><br/>

Members:
<ul>
  <% @meetup.users.each do |member| %>
    <li> <img height="40" width="40" src="<%= member.avatar_url %>"/> <%= member.username %> </li>
  <% end %>
</ul>




